<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CR_dl_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CR_dl_gui.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailOrUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SiteLanguage" serializeAs="String">
                <value>arME</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>1080p</value>
            </setting>
            <setting name="DefaultSubtitle" serializeAs="String">
                <value>arME</value>
            </setting>
            <setting name="SpecifySubtitleLanguages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleLanguages" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionsNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AttacheFonts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Attempts" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LegacyPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyForVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoftsubSaveDirectory" serializeAs="String">
                <value>Crunchyroll (Softsub)/{seasonTitle} - {episodeNumber} [{resolution}].mkv</value>
            </setting>
            <setting name="HardsubSaveDirectory" serializeAs="String">
                <value>Crunchyroll (Hardsub)/{seasonTitle} - {episodeNumber} [{resolution}].mp4</value>
            </setting>
            <setting name="SubtitltesOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSubtitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSeasons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Seasons" serializeAs="String">
                <value />
            </setting>
            <setting name="UseEpisodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Episodes" serializeAs="String">
                <value />
            </setting>
            <setting name="UseResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value />
            </setting>
            <setting name="RightToLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightToLeftLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoProgressBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CookiesFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CookiesFilePath" serializeAs="String">
                <value />
            </setting>
        </CR_dl_gui.Properties.Settings>
    </userSettings>
</configuration>